@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-scrollbar {
  scrollbar-width: none;
}

.add-blur {
  filter: blur(4px);
}

ul a {
  @apply hover:text-lime-400 transition-all duration-500 ease-out;
}

/* show back to top button */
.show-link {
  visibility: visible;
}

/* Fixed Nav */
.fixed-nav {
  position: sticky;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  z-index: 10;
}

/* profile image */
.profile-img-border {
  @apply rounded-sm border-2 border-solid border-lime-400 w-full h-full absolute top-[1.2rem] left-[1.2rem] -z-10 hover:top-[1rem] hover:left-[1rem];
}
.profile-img-bg {
  @apply bg-lime-400 h-full w-full opacity-40;
}

/* Works */
.work-container {
  @apply p-6 rounded-sm  bg-cover cursor-pointer lg:hover:-translate-y-3 transition-all duration-100 ease-out relative shadow-sm shadow-lime-200;
}

/* Works background */
.kipstore{
  @apply bg-kipStore ;
}
.musica{
  @apply bg-musica;
}
.loveme{
  @apply bg-loveMe;
}
.metabnb{
  @apply bg-metaBnb;
}
.linktree{
  @apply bg-linkTree;
}

.ratingapp{
  @apply bg-ratingApp;
}

.overlay{
  @apply absolute h-full w-full  opacity-95 bg-quill-600 top-0 left-0 
}

.work-content-container{
  @apply text-quill-50  relative  flex flex-col  gap-y-8
}

.move-up {
  transform: translateY(-0.5rem);
}

.work-title {
  @apply text-2xl  font-bold;
}

.desc{
  @apply font-medium;
}

.work-link {
  @apply flex gap-x-8  mb-4;
}

.work-link a{
  @apply hover:shadow-sm hover:shadow-lime-400 rounded-full p-1;
}

.work-tools {
  @apply  flex items-center gap-x-2 text-[0.8rem] font-medium  ;
}
.work-tools>div{
  @apply  flex flex-wrap gap-x-1 text-lime-400 ;
}